<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="nav2">
            <h1 class="h12">Startub 3</h1>
        <div class="right2">
            <p class="p2 overview">Overview</p>
            <p class="p2">Prices</p>
            <p class="p2">Blog</p>
            <p class="p2">Feedback</p>
            <p class="p2 border2">Purchase</p>
        </div>
        </nav>     
        <div>
            <div class="div1">
                <h1 class="heading">Generate Awesome Web Pages</h1>
                <p class="one">The most important part of the
                Startub is the samples. The samples form a set of 25 usablepages you can use as is or you can add new blocks.</p>
                <p class="learn">Learn More</p>
            </div>
            <div class="div2">
                <form action="">
                    <label class="signup">Sign Up Now</label><br><br>
                    <input placeholder="Your email" title="mail" type="email"><br><br>
                    <input placeholder="Your password" title="pass" type="password"><br><br>
                    <input checked title="terms" type="checkbox" id="yes" class="input">
                    <label class="class agree">I agree to the Terms of Service</label><br><br>
                    <button title="sign in" type="button">Sign In</button><br><br>
                    <label class="class">---------------or---------------</label><br><br>
                    <button title="sign in" type="button" class="button">Log In via Twitter</button><br><br>
                    <p class="class">Do you have an Account? <a href="https://www.somethinglink.com">Sign In</a></p>
                </form>
            </div>
        </div>   
    </body>
    </html>
